.album {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  color: black;
  background-color: rgb(250, 250, 250);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  transition: all 0.25s;
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 10px;
  display: block;
}

.titleContainer {
  display: flex;
  flex-grow: 1;
  gap: 12px;
  padding: 0 20px 10px 20px;
}

.title {
  flex-grow: 1;
}

.rating {
  top: 6px;
  position: relative;
  border: 3px solid black;
  flex-basis: 50px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 11.5px;
  line-height: 20px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  font-family: system-ui, sans-serif;
}

.bestNew {
  border-color: rgb(222, 0, 0);
  color: rgb(222, 0, 0);
}

.artist {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 3px;
}

.name {
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
}

.nameUnderlined {
  text-decoration: underline;
}

.genreWrapper {
  padding: 0 20px 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.genre {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  border-radius: 1rem;
  padding: 2px 7px;
  font-family: system-ui, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin-right: 0.25rem;
}

.genre:hovered {
  background-color: rgba(0, 0, 0, 0.1);
}

.buttonContainer {
  float: right;
  padding: 10px;
}

.button:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(226, 226, 226);
}
