.wrapper {
  background-color: white;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.breadCrumbs {
  flex-grow: 1;
}

.appName {
  font-weight: 600;
}

.appNameWithBreadcrumbs {
  composes: appName;
  padding-right: 1em;
}
