* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: rgb(236, 236, 236);
}
